body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-image: url("./football-field.jpg");
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  z-index: 2;
}

.league_pick {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
  height: 450px;
  border-radius: 50px;
  background-color: rgba(19, 35, 43, 0.75);
}

.intro {
  font-size: 35px;
  color: aqua;
  margin-bottom: 20px;
}

.england,
.spain,
.italy,
.france {
  margin-top: 10px;
  font-size: 25px;
  width: 350px;
  height: 70px;
  background: #253a5f;
  color: aliceblue;
}

.england:hover {
  border-radius: 20px;
  color: rgb(0, 0, 0);
  background: linear-gradient(
    to right,
    white,
    white 20%,
    #ed2939 20%,
    #ed2939 80%,
    white 80%
  );
  cursor: pointer;
}

.spain:hover {
  border-radius: 20px;
  color: rgb(0, 0, 0);
  background: linear-gradient(
    to right,
    rgb(255, 0, 0),
    rgb(255, 0, 0) 20%,
    #f8a203 20%,
    #f8a203 80%,
    rgb(255, 0, 0) 80%
  );
  cursor: pointer;
}

.italy:hover {
  border-radius: 20px;
  color: rgb(0, 0, 0);
  background: linear-gradient(
    to right,
    green,
    green 35%,
    white 35%,
    white 65%,
    rgb(255, 0, 0) 65%
  );
  cursor: pointer;
}

.france:hover {
  border-radius: 20px;
  color: rgb(0, 0, 0);
  background: linear-gradient(
    to right,

    #002395,
    #002395 35%,
    white 35%,
    white 65%,
    #ed2939 65%
  );
  cursor: pointer;
}

.wrapper {
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
  padding-bottom: 10px;
  padding-right: 10px;
  width: auto;
  border-radius: 10px;
  background-color: rgba(39, 85, 104, 0.75);
  transform: scaleX(1);
  z-index: 1;
}

.rounds {
  text-align: center;
  width: 100px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
  font-weight: bold;
  background-color: rgb(251, 255, 0);
  opacity: 0;
}

.start_games,
.clear_results,
.final_results {
  width: 80px;
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 10px;
  border-radius: 10px;
  text-decoration: none;
  background-color: rgb(238, 49, 49);
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.clear_results {
  background-color: rgb(24, 168, 194);
}

.final_results {
  background-color: rgb(14, 224, 14);
}

.final_results {
  width: 100px;
}

.start_games:hover,
.clear_results:hover,
.final_results {
  cursor: pointer;
}

.start_games:active,
.clear_results:active,
.final_results:active {
  background-color: rgb(185, 197, 16);
}

.start_games:disabled,
.clear_results:disabled,
.final_results:disabled {
  cursor: not-allowed;
  text-decoration: line-through;
}

.teams {
  display: grid;
  align-items: center;
  grid-template-columns: 100px 160px 40px;
  width: 300px;
  height: 60px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
  background-color: rgb(32, 34, 34);
}

.standings_header {
  display: grid;
  align-items: center;
  grid-template-columns: 25px 140px 40px 35px 35px 35px 35px 35px 40px;
  width: 420px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px 10px 0 0;
  background-color: rgb(32, 34, 34);
  color: rgb(243, 241, 95);
}

.standings_header span:nth-child(3),
.standings_header span:nth-child(4),
.standings_header span:nth-child(5),
.standings_header span:nth-child(6),
.standings_header span:nth-child(7),
.standings_header span:nth-child(8),
.standings_header span:nth-child(9) {
  text-align: center;
}

.standings_no1,
.standings_no2,
.standings_no3,
.standings_no4,
.standings_no5,
.standings_no6,
.standings_no7,
.standings_no8,
.standings_no9,
.standings_no10,
.standings_no11,
.standings_no12,
.standings_no13,
.standings_no14,
.standings_no15,
.standings_no16,
.standings_no17,
.standings_no18,
.standings_no19,
.standings_no20 {
  display: grid;
  align-items: center;
  grid-template-columns: 25px 140px 40px 35px 35px 35px 35px 35px 40px;
  width: 420px;
  height: 35px;
  margin-left: 10px;
  background-color: rgb(32, 34, 34);
  color: white;
}

.standings_no20 {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#standings_details span:nth-child(3),
#standings_details span:nth-child(4),
#standings_details span:nth-child(5),
#standings_details span:nth-child(6),
#standings_details span:nth-child(7),
#standings_details span:nth-child(8),
#standings_details span:nth-child(9) {
  text-align: center;
}

#standings_details span:nth-child(9) {
  color: rgb(32, 34, 34);
}

.standings_place,
#standings_place {
  margin-left: 5px;
  display: grid;
  justify-items: center;
}

.standings_no1_place,
.standings_no2_place,
.standings_no3_place,
.standings_no4_place {
  background-color: rgb(11, 153, 7);
  border-radius: 3px;
}

.standings_no17_place,
.standings_no18_place,
.standings_no19_place,
.standings_no20_place {
  background-color: rgb(231, 9, 9);
  border-radius: 3px;
}

.standings_teams,
#standings_teams {
  margin-left: 5px;
}

#standings_goalsFor {
  border-right: 1px dashed rgb(211, 247, 11);
}

#game_time_day {
  display: grid;
  justify-items: center;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 15px;
  color: rgb(238, 223, 11);
}

#game_time_hour {
  display: grid;
  justify-items: center;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 15px;
  color: rgb(238, 223, 11);
}

#home {
  text-align: left;
  width: 180px;
  margin-left: 5px;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}

#home_score {
  text-align: center;
  width: 30px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}

#guest_score {
  text-align: center;
  width: 30px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}

#guest {
  text-align: left;
  width: 180px;
  margin-left: 5px;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}

/* .winner {
  visibility: hidden;
  margin-top: 200px;
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 310px;
  height: 270px;
  background-color: rgb(26, 86, 126);
  border-radius: 20px;
  cursor: grab;
}

.winner:active {
  cursor: grabbing;
}

.winner:hover {
  background-color: rgb(21, 105, 153);
}

.modal {
  width: 300px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 25px;
  text-align: center;
  padding-bottom: 30px;
  color: rgb(239, 243, 240);
}

.modal_winnerTeam {
  color: rgb(19, 179, 19);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.modal_looserTeam {
  color: rgb(228, 53, 53);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.modal_close {
  margin-top: 20px;
  top: 85%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
}

.modal_close:hover {
  background-color: aquamarine;
} */

@media screen and (max-width: 500px) {
  .league_pick {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 270px;
    height: 350px;
    border-radius: 30px;
    background-color: rgb(19, 35, 43);
  }

  .intro {
    font-size: 25px;
  }

  .england,
  .spain,
  .italy,
  .france {
    margin-top: 10px;
    font-size: 20px;
    width: 200px;
    height: 50px;
  }

  .wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    background-color: rgba(39, 85, 104, 0.5);
  }

  .games {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .standings {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    transform: scaleX(0.9);
  }
}
